:root {
  --max-width: 1200px;
  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
  
  --bg-color: #FFFFF5;
  --custom-red: #C53030;
  --custom-blue: #011627;
  --custom-grey: #7F7F7F;
}

body {
  background-color: var(--bg-color);
  color: var(--custom-grey);
  font-family: var(--font-poppins);
  font-size: .875rem;
}

h2 {
  color: var(--custom-red);
  margin-bottom: 2.5rem;
  
  font-size: 2rem;
  text-transform: uppercase;
}

img {
  width: 3.75rem;
  height: 3.75rem;
}

.container {
  width: 90%;
  max-width: var(--max-width);
  margin: 5rem auto;
  padding-bottom: 5rem;
}

.header__info {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.name {
  color: var(--custom-red);
  text-transform: uppercase;
  line-height: 100%;
  
  font-size: 2.5rem;
}

.status {
  color: var(--custom-grey);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
}

.title {
  color: var(--custom-blue);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
}

.subtitle {
  color: var(--custom-blue);
  font-weight: 600;
  font-size: 1.25rem;
}

.sub__header {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
  
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.pf-picture {
  width: 12.125rem;
  height: 12.125rem;
  
  background-image: url(../assets/img/pexels-irina-iriser-759435-lowres.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
  border-radius: 50%;
}

.address,
.contact {
  position: relative;
}

.address::before,
.contact::before {
  position: absolute;
  
  transform: translateX(-60px) translateY(3px);
  
  content: '';
  
  width: 1.5625rem;
  height: 1.5625rem;
  
  border: .0625rem solid black;
  border-radius: 50%;
}

.address::after,
.contact::after {
  position: absolute;
  
  transform: translateX(-48px) translateY(-44px);
  
  content: '';
  
  width: .0625rem;
  height: 2.5rem;
  
  background-color: black;
}

.content__upper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 3.125rem;
  
  margin-bottom: 5rem;
}

.education {
  width: 70%;
}

.work-experience {
  width: 100%;
  position: relative;
}

.work-experience h2::before,
.interests__languages > h2::before {
  position: absolute;
  
  transform: translateX(-100px) translateY(6px);
  
  content: '';
  
  width: 2.1875rem;
  height: 2.1875rem;
  
  background-color: black;
  border-radius: 50%;
}

.work-experience h2::after {
  position: absolute;
  
  transform: translateX(-383px) translateY(20px);
  
  content: '';
  
  width: .0625rem;
  height: 26.25rem;
  
  background-color: black;
}

.education__item {
  margin-bottom: 3.125rem;
}

.workex__items {
  padding: 0;
}

.workex__item {
  display: flex;
  flex-wrap: nowrap;
  
  margin-bottom: 3.125rem;
}

.workex__item::before {
  position: absolute;
  
  transform: translateX(-95px);
  
  content: '';
  
  width: 1.5625rem;
  height: 1.5625rem;
  
  border: .0625rem solid black;
  border-radius: 50%;
  
  background-color: var(--bg-color);
}

.item__info {
  margin-right: 1.875rem;
  width: 25%;
}

.item__content {
  margin-left: .9375rem;
  width: 75%;
}

.content__bottom {
  display: flex;
  flex-wrap: nowrap;
  gap: 3.125rem;
}

.skills {
  width: 70%;
}

.skills__list {
  list-style: none;
  padding-left: 1.25rem;
}

.skill__item {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
  color: var(--custom-blue);
}

.skill__item::before {
  content: '\2022';
  
  color: var(--custom-red);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-right: 1.25rem;;
}

.interests__languages {
  width: 100%;
}

.interests__languages > h2::after {
  position: absolute;
  
  transform: translateX(-250px) translateY(40px);
  
  content: '';
  
  width: .0625rem;
  height: 37.5rem;
  
  background-color: black;
}

.interests__languages-list {
  list-style: none;
  padding-left: 0;
}

.interests {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  
  margin-bottom: 4.0625rem;
}

.interest__icon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.icon__title {
  color: var(--custom-red);
  font-size: 1.25rem;
}

.languages__list::before {
  position: absolute;
  
  transform: translateX(-96px) translateY(10px);
  
  content: '';
  
  width: 1.5625rem;
  height: 1.5625rem;
  
  border: .0625rem solid black;
  border-radius: 50%;
  
  background-color: var(--bg-color);
}

.languages {
  font-size: 1.5rem;
  
  color: var(--custom-blue);
}

.languages > div {
  margin-bottom: 2.5rem;
  position: relative;
}

.dutch span {
  display: inline;
}

.progress-bar-bg {
  position: absolute;
  right: 0;
  transform: translateY(-24px);

  width: 27.375rem;
  height: 1rem;
  
  border-radius: 1.25rem;
  
  background-color: #D9D9D9;
  
  z-index: 0;
}

.dutch .progress-bar {
  position: absolute;
  left: 14.9375rem;
  transform: translateY(-24px);

  width: 26.0625rem;
  height: 1rem;
  
  border-radius: 1.25rem;
  
  background-color: var(--custom-red);
  
  z-index: 1;
}

.english .progress-bar {
  position: absolute;
  left: 14.9375rem;
  transform: translateY(-24px);

  width: 23.25rem;
  height: 1rem;
  
  border-radius: 1.25rem;
  
  background-color: var(--custom-red);
  
  z-index: 1;
}

.french .progress-bar {
  position: absolute;
  left: 14.9375rem;
  transform: translateY(-24px);

  width: 5.6875rem;
  height: 1rem;
  
  border-radius: 1.25rem;
  
  background-color: var(--custom-red);
  
  z-index: 1;
}

.star {
  display: inline-block;
  
  transform: translateY(-1px);
}